<root>
  <styles>
    <include src="file://{resources}/styles/custom_game/cs2menus/fonts.css" />
    <include src="file://{resources}/styles/custom_game/cs2menus/menu.css" />
  </styles>
  <Panel class="root" hittest="false">
    <Panel id="cm_root" class="menu hidden">
      <Panel class="menu-box">
        <Panel class="window-header">
          <Label id="cm_title" class="menu-title" text="{s:cm_title}" />
          <Button id="cm_close" class="close-btn" />
        </Panel>
        <Panel class="panes">
          <Panel id="cm_pages" class="nav">
            <Button id="cm_nav0" class="nav-btn hidden">
              <Label id="cm_nav_lbl0" class="nav-label" text="{s:cm_nav_lbl0}" />
            </Button>
            <Button id="cm_nav1" class="nav-btn hidden">
              <Label id="cm_nav_lbl1" class="nav-label" text="{s:cm_nav_lbl1}" />
            </Button>
            <Button id="cm_nav2" class="nav-btn hidden">
              <Label id="cm_nav_lbl2" class="nav-label" text="{s:cm_nav_lbl2}" />
            </Button>
            <Button id="cm_nav3" class="nav-btn hidden">
              <Label id="cm_nav_lbl3" class="nav-label" text="{s:cm_nav_lbl3}" />
            </Button>
            <Button id="cm_nav4" class="nav-btn hidden">
              <Label id="cm_nav_lbl4" class="nav-label" text="{s:cm_nav_lbl4}" />
            </Button>
            <Button id="cm_nav5" class="nav-btn hidden">
              <Label id="cm_nav_lbl5" class="nav-label" text="{s:cm_nav_lbl5}" />
            </Button>
            <Button id="cm_nav6" class="nav-btn hidden">
              <Label id="cm_nav_lbl6" class="nav-label" text="{s:cm_nav_lbl6}" />
            </Button>
            <Button id="cm_nav7" class="nav-btn hidden">
              <Label id="cm_nav_lbl7" class="nav-label" text="{s:cm_nav_lbl7}" />
            </Button>
            <Button id="cm_nav8" class="nav-btn hidden">
              <Label id="cm_nav_lbl8" class="nav-label" text="{s:cm_nav_lbl8}" />
            </Button>
            <Button id="cm_nav9" class="nav-btn hidden">
              <Label id="cm_nav_lbl9" class="nav-label" text="{s:cm_nav_lbl9}" />
            </Button>
            <Button id="cm_nav10" class="nav-btn hidden">
              <Label id="cm_nav_lbl10" class="nav-label" text="{s:cm_nav_lbl10}" />
            </Button>
            <Button id="cm_nav11" class="nav-btn hidden">
              <Label id="cm_nav_lbl11" class="nav-label" text="{s:cm_nav_lbl11}" />
            </Button>
            <Button id="cm_nav12" class="nav-btn hidden">
              <Label id="cm_nav_lbl12" class="nav-label" text="{s:cm_nav_lbl12}" />
            </Button>
            <Button id="cm_nav13" class="nav-btn hidden">
              <Label id="cm_nav_lbl13" class="nav-label" text="{s:cm_nav_lbl13}" />
            </Button>
            <Button id="cm_nav14" class="nav-btn hidden">
              <Label id="cm_nav_lbl14" class="nav-label" text="{s:cm_nav_lbl14}" />
            </Button>
            <Button id="cm_nav15" class="nav-btn hidden">
              <Label id="cm_nav_lbl15" class="nav-label" text="{s:cm_nav_lbl15}" />
            </Button>
            <Button id="cm_nav16" class="nav-btn hidden">
              <Label id="cm_nav_lbl16" class="nav-label" text="{s:cm_nav_lbl16}" />
            </Button>
            <Button id="cm_nav17" class="nav-btn hidden">
              <Label id="cm_nav_lbl17" class="nav-label" text="{s:cm_nav_lbl17}" />
            </Button>
            <Button id="cm_nav18" class="nav-btn hidden">
              <Label id="cm_nav_lbl18" class="nav-label" text="{s:cm_nav_lbl18}" />
            </Button>
            <Button id="cm_nav19" class="nav-btn hidden">
              <Label id="cm_nav_lbl19" class="nav-label" text="{s:cm_nav_lbl19}" />
            </Button>
          </Panel>
          <Panel id="cm_items" class="items">
            <Button id="cm_item0" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg0_0" class="item-seg" text="{s:cm_seg0_0}" />
                <Label id="cm_seg0_1" class="item-seg" text="{s:cm_seg0_1}" />
                <Label id="cm_seg0_2" class="item-seg" text="{s:cm_seg0_2}" />
                <Label id="cm_seg0_3" class="item-seg" text="{s:cm_seg0_3}" />
                <Label id="cm_seg0_4" class="item-seg" text="{s:cm_seg0_4}" />
                <Label id="cm_seg0_5" class="item-seg" text="{s:cm_seg0_5}" />
                <Label id="cm_seg0_6" class="item-seg" text="{s:cm_seg0_6}" />
                <Label id="cm_seg0_7" class="item-seg" text="{s:cm_seg0_7}" />
                <Label id="cm_seg0_8" class="item-seg" text="{s:cm_seg0_8}" />
                <Label id="cm_seg0_9" class="item-seg" text="{s:cm_seg0_9}" />
              </Panel>
              <Label id="cm_val0" class="item-value" text="{s:cm_val0}" />
            </Button>
            <Button id="cm_item1" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg1_0" class="item-seg" text="{s:cm_seg1_0}" />
                <Label id="cm_seg1_1" class="item-seg" text="{s:cm_seg1_1}" />
                <Label id="cm_seg1_2" class="item-seg" text="{s:cm_seg1_2}" />
                <Label id="cm_seg1_3" class="item-seg" text="{s:cm_seg1_3}" />
                <Label id="cm_seg1_4" class="item-seg" text="{s:cm_seg1_4}" />
                <Label id="cm_seg1_5" class="item-seg" text="{s:cm_seg1_5}" />
                <Label id="cm_seg1_6" class="item-seg" text="{s:cm_seg1_6}" />
                <Label id="cm_seg1_7" class="item-seg" text="{s:cm_seg1_7}" />
                <Label id="cm_seg1_8" class="item-seg" text="{s:cm_seg1_8}" />
                <Label id="cm_seg1_9" class="item-seg" text="{s:cm_seg1_9}" />
              </Panel>
              <Label id="cm_val1" class="item-value" text="{s:cm_val1}" />
            </Button>
            <Button id="cm_item2" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg2_0" class="item-seg" text="{s:cm_seg2_0}" />
                <Label id="cm_seg2_1" class="item-seg" text="{s:cm_seg2_1}" />
                <Label id="cm_seg2_2" class="item-seg" text="{s:cm_seg2_2}" />
                <Label id="cm_seg2_3" class="item-seg" text="{s:cm_seg2_3}" />
                <Label id="cm_seg2_4" class="item-seg" text="{s:cm_seg2_4}" />
                <Label id="cm_seg2_5" class="item-seg" text="{s:cm_seg2_5}" />
                <Label id="cm_seg2_6" class="item-seg" text="{s:cm_seg2_6}" />
                <Label id="cm_seg2_7" class="item-seg" text="{s:cm_seg2_7}" />
                <Label id="cm_seg2_8" class="item-seg" text="{s:cm_seg2_8}" />
                <Label id="cm_seg2_9" class="item-seg" text="{s:cm_seg2_9}" />
              </Panel>
              <Label id="cm_val2" class="item-value" text="{s:cm_val2}" />
            </Button>
            <Button id="cm_item3" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg3_0" class="item-seg" text="{s:cm_seg3_0}" />
                <Label id="cm_seg3_1" class="item-seg" text="{s:cm_seg3_1}" />
                <Label id="cm_seg3_2" class="item-seg" text="{s:cm_seg3_2}" />
                <Label id="cm_seg3_3" class="item-seg" text="{s:cm_seg3_3}" />
                <Label id="cm_seg3_4" class="item-seg" text="{s:cm_seg3_4}" />
                <Label id="cm_seg3_5" class="item-seg" text="{s:cm_seg3_5}" />
                <Label id="cm_seg3_6" class="item-seg" text="{s:cm_seg3_6}" />
                <Label id="cm_seg3_7" class="item-seg" text="{s:cm_seg3_7}" />
                <Label id="cm_seg3_8" class="item-seg" text="{s:cm_seg3_8}" />
                <Label id="cm_seg3_9" class="item-seg" text="{s:cm_seg3_9}" />
              </Panel>
              <Label id="cm_val3" class="item-value" text="{s:cm_val3}" />
            </Button>
            <Button id="cm_item4" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg4_0" class="item-seg" text="{s:cm_seg4_0}" />
                <Label id="cm_seg4_1" class="item-seg" text="{s:cm_seg4_1}" />
                <Label id="cm_seg4_2" class="item-seg" text="{s:cm_seg4_2}" />
                <Label id="cm_seg4_3" class="item-seg" text="{s:cm_seg4_3}" />
                <Label id="cm_seg4_4" class="item-seg" text="{s:cm_seg4_4}" />
                <Label id="cm_seg4_5" class="item-seg" text="{s:cm_seg4_5}" />
                <Label id="cm_seg4_6" class="item-seg" text="{s:cm_seg4_6}" />
                <Label id="cm_seg4_7" class="item-seg" text="{s:cm_seg4_7}" />
                <Label id="cm_seg4_8" class="item-seg" text="{s:cm_seg4_8}" />
                <Label id="cm_seg4_9" class="item-seg" text="{s:cm_seg4_9}" />
              </Panel>
              <Label id="cm_val4" class="item-value" text="{s:cm_val4}" />
            </Button>
            <Button id="cm_item5" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg5_0" class="item-seg" text="{s:cm_seg5_0}" />
                <Label id="cm_seg5_1" class="item-seg" text="{s:cm_seg5_1}" />
                <Label id="cm_seg5_2" class="item-seg" text="{s:cm_seg5_2}" />
                <Label id="cm_seg5_3" class="item-seg" text="{s:cm_seg5_3}" />
                <Label id="cm_seg5_4" class="item-seg" text="{s:cm_seg5_4}" />
                <Label id="cm_seg5_5" class="item-seg" text="{s:cm_seg5_5}" />
                <Label id="cm_seg5_6" class="item-seg" text="{s:cm_seg5_6}" />
                <Label id="cm_seg5_7" class="item-seg" text="{s:cm_seg5_7}" />
                <Label id="cm_seg5_8" class="item-seg" text="{s:cm_seg5_8}" />
                <Label id="cm_seg5_9" class="item-seg" text="{s:cm_seg5_9}" />
              </Panel>
              <Label id="cm_val5" class="item-value" text="{s:cm_val5}" />
            </Button>
            <Button id="cm_item6" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg6_0" class="item-seg" text="{s:cm_seg6_0}" />
                <Label id="cm_seg6_1" class="item-seg" text="{s:cm_seg6_1}" />
                <Label id="cm_seg6_2" class="item-seg" text="{s:cm_seg6_2}" />
                <Label id="cm_seg6_3" class="item-seg" text="{s:cm_seg6_3}" />
                <Label id="cm_seg6_4" class="item-seg" text="{s:cm_seg6_4}" />
                <Label id="cm_seg6_5" class="item-seg" text="{s:cm_seg6_5}" />
                <Label id="cm_seg6_6" class="item-seg" text="{s:cm_seg6_6}" />
                <Label id="cm_seg6_7" class="item-seg" text="{s:cm_seg6_7}" />
                <Label id="cm_seg6_8" class="item-seg" text="{s:cm_seg6_8}" />
                <Label id="cm_seg6_9" class="item-seg" text="{s:cm_seg6_9}" />
              </Panel>
              <Label id="cm_val6" class="item-value" text="{s:cm_val6}" />
            </Button>
            <Button id="cm_item7" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg7_0" class="item-seg" text="{s:cm_seg7_0}" />
                <Label id="cm_seg7_1" class="item-seg" text="{s:cm_seg7_1}" />
                <Label id="cm_seg7_2" class="item-seg" text="{s:cm_seg7_2}" />
                <Label id="cm_seg7_3" class="item-seg" text="{s:cm_seg7_3}" />
                <Label id="cm_seg7_4" class="item-seg" text="{s:cm_seg7_4}" />
                <Label id="cm_seg7_5" class="item-seg" text="{s:cm_seg7_5}" />
                <Label id="cm_seg7_6" class="item-seg" text="{s:cm_seg7_6}" />
                <Label id="cm_seg7_7" class="item-seg" text="{s:cm_seg7_7}" />
                <Label id="cm_seg7_8" class="item-seg" text="{s:cm_seg7_8}" />
                <Label id="cm_seg7_9" class="item-seg" text="{s:cm_seg7_9}" />
              </Panel>
              <Label id="cm_val7" class="item-value" text="{s:cm_val7}" />
            </Button>
            <Button id="cm_item8" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg8_0" class="item-seg" text="{s:cm_seg8_0}" />
                <Label id="cm_seg8_1" class="item-seg" text="{s:cm_seg8_1}" />
                <Label id="cm_seg8_2" class="item-seg" text="{s:cm_seg8_2}" />
                <Label id="cm_seg8_3" class="item-seg" text="{s:cm_seg8_3}" />
                <Label id="cm_seg8_4" class="item-seg" text="{s:cm_seg8_4}" />
                <Label id="cm_seg8_5" class="item-seg" text="{s:cm_seg8_5}" />
                <Label id="cm_seg8_6" class="item-seg" text="{s:cm_seg8_6}" />
                <Label id="cm_seg8_7" class="item-seg" text="{s:cm_seg8_7}" />
                <Label id="cm_seg8_8" class="item-seg" text="{s:cm_seg8_8}" />
                <Label id="cm_seg8_9" class="item-seg" text="{s:cm_seg8_9}" />
              </Panel>
              <Label id="cm_val8" class="item-value" text="{s:cm_val8}" />
            </Button>
            <Button id="cm_item9" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg9_0" class="item-seg" text="{s:cm_seg9_0}" />
                <Label id="cm_seg9_1" class="item-seg" text="{s:cm_seg9_1}" />
                <Label id="cm_seg9_2" class="item-seg" text="{s:cm_seg9_2}" />
                <Label id="cm_seg9_3" class="item-seg" text="{s:cm_seg9_3}" />
                <Label id="cm_seg9_4" class="item-seg" text="{s:cm_seg9_4}" />
                <Label id="cm_seg9_5" class="item-seg" text="{s:cm_seg9_5}" />
                <Label id="cm_seg9_6" class="item-seg" text="{s:cm_seg9_6}" />
                <Label id="cm_seg9_7" class="item-seg" text="{s:cm_seg9_7}" />
                <Label id="cm_seg9_8" class="item-seg" text="{s:cm_seg9_8}" />
                <Label id="cm_seg9_9" class="item-seg" text="{s:cm_seg9_9}" />
              </Panel>
              <Label id="cm_val9" class="item-value" text="{s:cm_val9}" />
            </Button>
            <Button id="cm_item10" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg10_0" class="item-seg" text="{s:cm_seg10_0}" />
                <Label id="cm_seg10_1" class="item-seg" text="{s:cm_seg10_1}" />
                <Label id="cm_seg10_2" class="item-seg" text="{s:cm_seg10_2}" />
                <Label id="cm_seg10_3" class="item-seg" text="{s:cm_seg10_3}" />
                <Label id="cm_seg10_4" class="item-seg" text="{s:cm_seg10_4}" />
                <Label id="cm_seg10_5" class="item-seg" text="{s:cm_seg10_5}" />
                <Label id="cm_seg10_6" class="item-seg" text="{s:cm_seg10_6}" />
                <Label id="cm_seg10_7" class="item-seg" text="{s:cm_seg10_7}" />
                <Label id="cm_seg10_8" class="item-seg" text="{s:cm_seg10_8}" />
                <Label id="cm_seg10_9" class="item-seg" text="{s:cm_seg10_9}" />
              </Panel>
              <Label id="cm_val10" class="item-value" text="{s:cm_val10}" />
            </Button>
            <Button id="cm_item11" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg11_0" class="item-seg" text="{s:cm_seg11_0}" />
                <Label id="cm_seg11_1" class="item-seg" text="{s:cm_seg11_1}" />
                <Label id="cm_seg11_2" class="item-seg" text="{s:cm_seg11_2}" />
                <Label id="cm_seg11_3" class="item-seg" text="{s:cm_seg11_3}" />
                <Label id="cm_seg11_4" class="item-seg" text="{s:cm_seg11_4}" />
                <Label id="cm_seg11_5" class="item-seg" text="{s:cm_seg11_5}" />
                <Label id="cm_seg11_6" class="item-seg" text="{s:cm_seg11_6}" />
                <Label id="cm_seg11_7" class="item-seg" text="{s:cm_seg11_7}" />
                <Label id="cm_seg11_8" class="item-seg" text="{s:cm_seg11_8}" />
                <Label id="cm_seg11_9" class="item-seg" text="{s:cm_seg11_9}" />
              </Panel>
              <Label id="cm_val11" class="item-value" text="{s:cm_val11}" />
            </Button>
            <Button id="cm_item12" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg12_0" class="item-seg" text="{s:cm_seg12_0}" />
                <Label id="cm_seg12_1" class="item-seg" text="{s:cm_seg12_1}" />
                <Label id="cm_seg12_2" class="item-seg" text="{s:cm_seg12_2}" />
                <Label id="cm_seg12_3" class="item-seg" text="{s:cm_seg12_3}" />
                <Label id="cm_seg12_4" class="item-seg" text="{s:cm_seg12_4}" />
                <Label id="cm_seg12_5" class="item-seg" text="{s:cm_seg12_5}" />
                <Label id="cm_seg12_6" class="item-seg" text="{s:cm_seg12_6}" />
                <Label id="cm_seg12_7" class="item-seg" text="{s:cm_seg12_7}" />
                <Label id="cm_seg12_8" class="item-seg" text="{s:cm_seg12_8}" />
                <Label id="cm_seg12_9" class="item-seg" text="{s:cm_seg12_9}" />
              </Panel>
              <Label id="cm_val12" class="item-value" text="{s:cm_val12}" />
            </Button>
            <Button id="cm_item13" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg13_0" class="item-seg" text="{s:cm_seg13_0}" />
                <Label id="cm_seg13_1" class="item-seg" text="{s:cm_seg13_1}" />
                <Label id="cm_seg13_2" class="item-seg" text="{s:cm_seg13_2}" />
                <Label id="cm_seg13_3" class="item-seg" text="{s:cm_seg13_3}" />
                <Label id="cm_seg13_4" class="item-seg" text="{s:cm_seg13_4}" />
                <Label id="cm_seg13_5" class="item-seg" text="{s:cm_seg13_5}" />
                <Label id="cm_seg13_6" class="item-seg" text="{s:cm_seg13_6}" />
                <Label id="cm_seg13_7" class="item-seg" text="{s:cm_seg13_7}" />
                <Label id="cm_seg13_8" class="item-seg" text="{s:cm_seg13_8}" />
                <Label id="cm_seg13_9" class="item-seg" text="{s:cm_seg13_9}" />
              </Panel>
              <Label id="cm_val13" class="item-value" text="{s:cm_val13}" />
            </Button>
            <Button id="cm_item14" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg14_0" class="item-seg" text="{s:cm_seg14_0}" />
                <Label id="cm_seg14_1" class="item-seg" text="{s:cm_seg14_1}" />
                <Label id="cm_seg14_2" class="item-seg" text="{s:cm_seg14_2}" />
                <Label id="cm_seg14_3" class="item-seg" text="{s:cm_seg14_3}" />
                <Label id="cm_seg14_4" class="item-seg" text="{s:cm_seg14_4}" />
                <Label id="cm_seg14_5" class="item-seg" text="{s:cm_seg14_5}" />
                <Label id="cm_seg14_6" class="item-seg" text="{s:cm_seg14_6}" />
                <Label id="cm_seg14_7" class="item-seg" text="{s:cm_seg14_7}" />
                <Label id="cm_seg14_8" class="item-seg" text="{s:cm_seg14_8}" />
                <Label id="cm_seg14_9" class="item-seg" text="{s:cm_seg14_9}" />
              </Panel>
              <Label id="cm_val14" class="item-value" text="{s:cm_val14}" />
            </Button>
            <Button id="cm_item15" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg15_0" class="item-seg" text="{s:cm_seg15_0}" />
                <Label id="cm_seg15_1" class="item-seg" text="{s:cm_seg15_1}" />
                <Label id="cm_seg15_2" class="item-seg" text="{s:cm_seg15_2}" />
                <Label id="cm_seg15_3" class="item-seg" text="{s:cm_seg15_3}" />
                <Label id="cm_seg15_4" class="item-seg" text="{s:cm_seg15_4}" />
                <Label id="cm_seg15_5" class="item-seg" text="{s:cm_seg15_5}" />
                <Label id="cm_seg15_6" class="item-seg" text="{s:cm_seg15_6}" />
                <Label id="cm_seg15_7" class="item-seg" text="{s:cm_seg15_7}" />
                <Label id="cm_seg15_8" class="item-seg" text="{s:cm_seg15_8}" />
                <Label id="cm_seg15_9" class="item-seg" text="{s:cm_seg15_9}" />
              </Panel>
              <Label id="cm_val15" class="item-value" text="{s:cm_val15}" />
            </Button>
            <Button id="cm_item16" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg16_0" class="item-seg" text="{s:cm_seg16_0}" />
                <Label id="cm_seg16_1" class="item-seg" text="{s:cm_seg16_1}" />
                <Label id="cm_seg16_2" class="item-seg" text="{s:cm_seg16_2}" />
                <Label id="cm_seg16_3" class="item-seg" text="{s:cm_seg16_3}" />
                <Label id="cm_seg16_4" class="item-seg" text="{s:cm_seg16_4}" />
                <Label id="cm_seg16_5" class="item-seg" text="{s:cm_seg16_5}" />
                <Label id="cm_seg16_6" class="item-seg" text="{s:cm_seg16_6}" />
                <Label id="cm_seg16_7" class="item-seg" text="{s:cm_seg16_7}" />
                <Label id="cm_seg16_8" class="item-seg" text="{s:cm_seg16_8}" />
                <Label id="cm_seg16_9" class="item-seg" text="{s:cm_seg16_9}" />
              </Panel>
              <Label id="cm_val16" class="item-value" text="{s:cm_val16}" />
            </Button>
            <Button id="cm_item17" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg17_0" class="item-seg" text="{s:cm_seg17_0}" />
                <Label id="cm_seg17_1" class="item-seg" text="{s:cm_seg17_1}" />
                <Label id="cm_seg17_2" class="item-seg" text="{s:cm_seg17_2}" />
                <Label id="cm_seg17_3" class="item-seg" text="{s:cm_seg17_3}" />
                <Label id="cm_seg17_4" class="item-seg" text="{s:cm_seg17_4}" />
                <Label id="cm_seg17_5" class="item-seg" text="{s:cm_seg17_5}" />
                <Label id="cm_seg17_6" class="item-seg" text="{s:cm_seg17_6}" />
                <Label id="cm_seg17_7" class="item-seg" text="{s:cm_seg17_7}" />
                <Label id="cm_seg17_8" class="item-seg" text="{s:cm_seg17_8}" />
                <Label id="cm_seg17_9" class="item-seg" text="{s:cm_seg17_9}" />
              </Panel>
              <Label id="cm_val17" class="item-value" text="{s:cm_val17}" />
            </Button>
            <Button id="cm_item18" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg18_0" class="item-seg" text="{s:cm_seg18_0}" />
                <Label id="cm_seg18_1" class="item-seg" text="{s:cm_seg18_1}" />
                <Label id="cm_seg18_2" class="item-seg" text="{s:cm_seg18_2}" />
                <Label id="cm_seg18_3" class="item-seg" text="{s:cm_seg18_3}" />
                <Label id="cm_seg18_4" class="item-seg" text="{s:cm_seg18_4}" />
                <Label id="cm_seg18_5" class="item-seg" text="{s:cm_seg18_5}" />
                <Label id="cm_seg18_6" class="item-seg" text="{s:cm_seg18_6}" />
                <Label id="cm_seg18_7" class="item-seg" text="{s:cm_seg18_7}" />
                <Label id="cm_seg18_8" class="item-seg" text="{s:cm_seg18_8}" />
                <Label id="cm_seg18_9" class="item-seg" text="{s:cm_seg18_9}" />
              </Panel>
              <Label id="cm_val18" class="item-value" text="{s:cm_val18}" />
            </Button>
            <Button id="cm_item19" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg19_0" class="item-seg" text="{s:cm_seg19_0}" />
                <Label id="cm_seg19_1" class="item-seg" text="{s:cm_seg19_1}" />
                <Label id="cm_seg19_2" class="item-seg" text="{s:cm_seg19_2}" />
                <Label id="cm_seg19_3" class="item-seg" text="{s:cm_seg19_3}" />
                <Label id="cm_seg19_4" class="item-seg" text="{s:cm_seg19_4}" />
                <Label id="cm_seg19_5" class="item-seg" text="{s:cm_seg19_5}" />
                <Label id="cm_seg19_6" class="item-seg" text="{s:cm_seg19_6}" />
                <Label id="cm_seg19_7" class="item-seg" text="{s:cm_seg19_7}" />
                <Label id="cm_seg19_8" class="item-seg" text="{s:cm_seg19_8}" />
                <Label id="cm_seg19_9" class="item-seg" text="{s:cm_seg19_9}" />
              </Panel>
              <Label id="cm_val19" class="item-value" text="{s:cm_val19}" />
            </Button>
            <Button id="cm_item20" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg20_0" class="item-seg" text="{s:cm_seg20_0}" />
                <Label id="cm_seg20_1" class="item-seg" text="{s:cm_seg20_1}" />
                <Label id="cm_seg20_2" class="item-seg" text="{s:cm_seg20_2}" />
                <Label id="cm_seg20_3" class="item-seg" text="{s:cm_seg20_3}" />
                <Label id="cm_seg20_4" class="item-seg" text="{s:cm_seg20_4}" />
                <Label id="cm_seg20_5" class="item-seg" text="{s:cm_seg20_5}" />
                <Label id="cm_seg20_6" class="item-seg" text="{s:cm_seg20_6}" />
                <Label id="cm_seg20_7" class="item-seg" text="{s:cm_seg20_7}" />
                <Label id="cm_seg20_8" class="item-seg" text="{s:cm_seg20_8}" />
                <Label id="cm_seg20_9" class="item-seg" text="{s:cm_seg20_9}" />
              </Panel>
              <Label id="cm_val20" class="item-value" text="{s:cm_val20}" />
            </Button>
            <Button id="cm_item21" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg21_0" class="item-seg" text="{s:cm_seg21_0}" />
                <Label id="cm_seg21_1" class="item-seg" text="{s:cm_seg21_1}" />
                <Label id="cm_seg21_2" class="item-seg" text="{s:cm_seg21_2}" />
                <Label id="cm_seg21_3" class="item-seg" text="{s:cm_seg21_3}" />
                <Label id="cm_seg21_4" class="item-seg" text="{s:cm_seg21_4}" />
                <Label id="cm_seg21_5" class="item-seg" text="{s:cm_seg21_5}" />
                <Label id="cm_seg21_6" class="item-seg" text="{s:cm_seg21_6}" />
                <Label id="cm_seg21_7" class="item-seg" text="{s:cm_seg21_7}" />
                <Label id="cm_seg21_8" class="item-seg" text="{s:cm_seg21_8}" />
                <Label id="cm_seg21_9" class="item-seg" text="{s:cm_seg21_9}" />
              </Panel>
              <Label id="cm_val21" class="item-value" text="{s:cm_val21}" />
            </Button>
            <Button id="cm_item22" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg22_0" class="item-seg" text="{s:cm_seg22_0}" />
                <Label id="cm_seg22_1" class="item-seg" text="{s:cm_seg22_1}" />
                <Label id="cm_seg22_2" class="item-seg" text="{s:cm_seg22_2}" />
                <Label id="cm_seg22_3" class="item-seg" text="{s:cm_seg22_3}" />
                <Label id="cm_seg22_4" class="item-seg" text="{s:cm_seg22_4}" />
                <Label id="cm_seg22_5" class="item-seg" text="{s:cm_seg22_5}" />
                <Label id="cm_seg22_6" class="item-seg" text="{s:cm_seg22_6}" />
                <Label id="cm_seg22_7" class="item-seg" text="{s:cm_seg22_7}" />
                <Label id="cm_seg22_8" class="item-seg" text="{s:cm_seg22_8}" />
                <Label id="cm_seg22_9" class="item-seg" text="{s:cm_seg22_9}" />
              </Panel>
              <Label id="cm_val22" class="item-value" text="{s:cm_val22}" />
            </Button>
            <Button id="cm_item23" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg23_0" class="item-seg" text="{s:cm_seg23_0}" />
                <Label id="cm_seg23_1" class="item-seg" text="{s:cm_seg23_1}" />
                <Label id="cm_seg23_2" class="item-seg" text="{s:cm_seg23_2}" />
                <Label id="cm_seg23_3" class="item-seg" text="{s:cm_seg23_3}" />
                <Label id="cm_seg23_4" class="item-seg" text="{s:cm_seg23_4}" />
                <Label id="cm_seg23_5" class="item-seg" text="{s:cm_seg23_5}" />
                <Label id="cm_seg23_6" class="item-seg" text="{s:cm_seg23_6}" />
                <Label id="cm_seg23_7" class="item-seg" text="{s:cm_seg23_7}" />
                <Label id="cm_seg23_8" class="item-seg" text="{s:cm_seg23_8}" />
                <Label id="cm_seg23_9" class="item-seg" text="{s:cm_seg23_9}" />
              </Panel>
              <Label id="cm_val23" class="item-value" text="{s:cm_val23}" />
            </Button>
            <Button id="cm_item24" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg24_0" class="item-seg" text="{s:cm_seg24_0}" />
                <Label id="cm_seg24_1" class="item-seg" text="{s:cm_seg24_1}" />
                <Label id="cm_seg24_2" class="item-seg" text="{s:cm_seg24_2}" />
                <Label id="cm_seg24_3" class="item-seg" text="{s:cm_seg24_3}" />
                <Label id="cm_seg24_4" class="item-seg" text="{s:cm_seg24_4}" />
                <Label id="cm_seg24_5" class="item-seg" text="{s:cm_seg24_5}" />
                <Label id="cm_seg24_6" class="item-seg" text="{s:cm_seg24_6}" />
                <Label id="cm_seg24_7" class="item-seg" text="{s:cm_seg24_7}" />
                <Label id="cm_seg24_8" class="item-seg" text="{s:cm_seg24_8}" />
                <Label id="cm_seg24_9" class="item-seg" text="{s:cm_seg24_9}" />
              </Panel>
              <Label id="cm_val24" class="item-value" text="{s:cm_val24}" />
            </Button>
            <Button id="cm_item25" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg25_0" class="item-seg" text="{s:cm_seg25_0}" />
                <Label id="cm_seg25_1" class="item-seg" text="{s:cm_seg25_1}" />
                <Label id="cm_seg25_2" class="item-seg" text="{s:cm_seg25_2}" />
                <Label id="cm_seg25_3" class="item-seg" text="{s:cm_seg25_3}" />
                <Label id="cm_seg25_4" class="item-seg" text="{s:cm_seg25_4}" />
                <Label id="cm_seg25_5" class="item-seg" text="{s:cm_seg25_5}" />
                <Label id="cm_seg25_6" class="item-seg" text="{s:cm_seg25_6}" />
                <Label id="cm_seg25_7" class="item-seg" text="{s:cm_seg25_7}" />
                <Label id="cm_seg25_8" class="item-seg" text="{s:cm_seg25_8}" />
                <Label id="cm_seg25_9" class="item-seg" text="{s:cm_seg25_9}" />
              </Panel>
              <Label id="cm_val25" class="item-value" text="{s:cm_val25}" />
            </Button>
            <Button id="cm_item26" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg26_0" class="item-seg" text="{s:cm_seg26_0}" />
                <Label id="cm_seg26_1" class="item-seg" text="{s:cm_seg26_1}" />
                <Label id="cm_seg26_2" class="item-seg" text="{s:cm_seg26_2}" />
                <Label id="cm_seg26_3" class="item-seg" text="{s:cm_seg26_3}" />
                <Label id="cm_seg26_4" class="item-seg" text="{s:cm_seg26_4}" />
                <Label id="cm_seg26_5" class="item-seg" text="{s:cm_seg26_5}" />
                <Label id="cm_seg26_6" class="item-seg" text="{s:cm_seg26_6}" />
                <Label id="cm_seg26_7" class="item-seg" text="{s:cm_seg26_7}" />
                <Label id="cm_seg26_8" class="item-seg" text="{s:cm_seg26_8}" />
                <Label id="cm_seg26_9" class="item-seg" text="{s:cm_seg26_9}" />
              </Panel>
              <Label id="cm_val26" class="item-value" text="{s:cm_val26}" />
            </Button>
            <Button id="cm_item27" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg27_0" class="item-seg" text="{s:cm_seg27_0}" />
                <Label id="cm_seg27_1" class="item-seg" text="{s:cm_seg27_1}" />
                <Label id="cm_seg27_2" class="item-seg" text="{s:cm_seg27_2}" />
                <Label id="cm_seg27_3" class="item-seg" text="{s:cm_seg27_3}" />
                <Label id="cm_seg27_4" class="item-seg" text="{s:cm_seg27_4}" />
                <Label id="cm_seg27_5" class="item-seg" text="{s:cm_seg27_5}" />
                <Label id="cm_seg27_6" class="item-seg" text="{s:cm_seg27_6}" />
                <Label id="cm_seg27_7" class="item-seg" text="{s:cm_seg27_7}" />
                <Label id="cm_seg27_8" class="item-seg" text="{s:cm_seg27_8}" />
                <Label id="cm_seg27_9" class="item-seg" text="{s:cm_seg27_9}" />
              </Panel>
              <Label id="cm_val27" class="item-value" text="{s:cm_val27}" />
            </Button>
            <Button id="cm_item28" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg28_0" class="item-seg" text="{s:cm_seg28_0}" />
                <Label id="cm_seg28_1" class="item-seg" text="{s:cm_seg28_1}" />
                <Label id="cm_seg28_2" class="item-seg" text="{s:cm_seg28_2}" />
                <Label id="cm_seg28_3" class="item-seg" text="{s:cm_seg28_3}" />
                <Label id="cm_seg28_4" class="item-seg" text="{s:cm_seg28_4}" />
                <Label id="cm_seg28_5" class="item-seg" text="{s:cm_seg28_5}" />
                <Label id="cm_seg28_6" class="item-seg" text="{s:cm_seg28_6}" />
                <Label id="cm_seg28_7" class="item-seg" text="{s:cm_seg28_7}" />
                <Label id="cm_seg28_8" class="item-seg" text="{s:cm_seg28_8}" />
                <Label id="cm_seg28_9" class="item-seg" text="{s:cm_seg28_9}" />
              </Panel>
              <Label id="cm_val28" class="item-value" text="{s:cm_val28}" />
            </Button>
            <Button id="cm_item29" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg29_0" class="item-seg" text="{s:cm_seg29_0}" />
                <Label id="cm_seg29_1" class="item-seg" text="{s:cm_seg29_1}" />
                <Label id="cm_seg29_2" class="item-seg" text="{s:cm_seg29_2}" />
                <Label id="cm_seg29_3" class="item-seg" text="{s:cm_seg29_3}" />
                <Label id="cm_seg29_4" class="item-seg" text="{s:cm_seg29_4}" />
                <Label id="cm_seg29_5" class="item-seg" text="{s:cm_seg29_5}" />
                <Label id="cm_seg29_6" class="item-seg" text="{s:cm_seg29_6}" />
                <Label id="cm_seg29_7" class="item-seg" text="{s:cm_seg29_7}" />
                <Label id="cm_seg29_8" class="item-seg" text="{s:cm_seg29_8}" />
                <Label id="cm_seg29_9" class="item-seg" text="{s:cm_seg29_9}" />
              </Panel>
              <Label id="cm_val29" class="item-value" text="{s:cm_val29}" />
            </Button>
            <Button id="cm_item30" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg30_0" class="item-seg" text="{s:cm_seg30_0}" />
                <Label id="cm_seg30_1" class="item-seg" text="{s:cm_seg30_1}" />
                <Label id="cm_seg30_2" class="item-seg" text="{s:cm_seg30_2}" />
                <Label id="cm_seg30_3" class="item-seg" text="{s:cm_seg30_3}" />
                <Label id="cm_seg30_4" class="item-seg" text="{s:cm_seg30_4}" />
                <Label id="cm_seg30_5" class="item-seg" text="{s:cm_seg30_5}" />
                <Label id="cm_seg30_6" class="item-seg" text="{s:cm_seg30_6}" />
                <Label id="cm_seg30_7" class="item-seg" text="{s:cm_seg30_7}" />
                <Label id="cm_seg30_8" class="item-seg" text="{s:cm_seg30_8}" />
                <Label id="cm_seg30_9" class="item-seg" text="{s:cm_seg30_9}" />
              </Panel>
              <Label id="cm_val30" class="item-value" text="{s:cm_val30}" />
            </Button>
            <Button id="cm_item31" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg31_0" class="item-seg" text="{s:cm_seg31_0}" />
                <Label id="cm_seg31_1" class="item-seg" text="{s:cm_seg31_1}" />
                <Label id="cm_seg31_2" class="item-seg" text="{s:cm_seg31_2}" />
                <Label id="cm_seg31_3" class="item-seg" text="{s:cm_seg31_3}" />
                <Label id="cm_seg31_4" class="item-seg" text="{s:cm_seg31_4}" />
                <Label id="cm_seg31_5" class="item-seg" text="{s:cm_seg31_5}" />
                <Label id="cm_seg31_6" class="item-seg" text="{s:cm_seg31_6}" />
                <Label id="cm_seg31_7" class="item-seg" text="{s:cm_seg31_7}" />
                <Label id="cm_seg31_8" class="item-seg" text="{s:cm_seg31_8}" />
                <Label id="cm_seg31_9" class="item-seg" text="{s:cm_seg31_9}" />
              </Panel>
              <Label id="cm_val31" class="item-value" text="{s:cm_val31}" />
            </Button>
            <Button id="cm_item32" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg32_0" class="item-seg" text="{s:cm_seg32_0}" />
                <Label id="cm_seg32_1" class="item-seg" text="{s:cm_seg32_1}" />
                <Label id="cm_seg32_2" class="item-seg" text="{s:cm_seg32_2}" />
                <Label id="cm_seg32_3" class="item-seg" text="{s:cm_seg32_3}" />
                <Label id="cm_seg32_4" class="item-seg" text="{s:cm_seg32_4}" />
                <Label id="cm_seg32_5" class="item-seg" text="{s:cm_seg32_5}" />
                <Label id="cm_seg32_6" class="item-seg" text="{s:cm_seg32_6}" />
                <Label id="cm_seg32_7" class="item-seg" text="{s:cm_seg32_7}" />
                <Label id="cm_seg32_8" class="item-seg" text="{s:cm_seg32_8}" />
                <Label id="cm_seg32_9" class="item-seg" text="{s:cm_seg32_9}" />
              </Panel>
              <Label id="cm_val32" class="item-value" text="{s:cm_val32}" />
            </Button>
            <Button id="cm_item33" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg33_0" class="item-seg" text="{s:cm_seg33_0}" />
                <Label id="cm_seg33_1" class="item-seg" text="{s:cm_seg33_1}" />
                <Label id="cm_seg33_2" class="item-seg" text="{s:cm_seg33_2}" />
                <Label id="cm_seg33_3" class="item-seg" text="{s:cm_seg33_3}" />
                <Label id="cm_seg33_4" class="item-seg" text="{s:cm_seg33_4}" />
                <Label id="cm_seg33_5" class="item-seg" text="{s:cm_seg33_5}" />
                <Label id="cm_seg33_6" class="item-seg" text="{s:cm_seg33_6}" />
                <Label id="cm_seg33_7" class="item-seg" text="{s:cm_seg33_7}" />
                <Label id="cm_seg33_8" class="item-seg" text="{s:cm_seg33_8}" />
                <Label id="cm_seg33_9" class="item-seg" text="{s:cm_seg33_9}" />
              </Panel>
              <Label id="cm_val33" class="item-value" text="{s:cm_val33}" />
            </Button>
            <Button id="cm_item34" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg34_0" class="item-seg" text="{s:cm_seg34_0}" />
                <Label id="cm_seg34_1" class="item-seg" text="{s:cm_seg34_1}" />
                <Label id="cm_seg34_2" class="item-seg" text="{s:cm_seg34_2}" />
                <Label id="cm_seg34_3" class="item-seg" text="{s:cm_seg34_3}" />
                <Label id="cm_seg34_4" class="item-seg" text="{s:cm_seg34_4}" />
                <Label id="cm_seg34_5" class="item-seg" text="{s:cm_seg34_5}" />
                <Label id="cm_seg34_6" class="item-seg" text="{s:cm_seg34_6}" />
                <Label id="cm_seg34_7" class="item-seg" text="{s:cm_seg34_7}" />
                <Label id="cm_seg34_8" class="item-seg" text="{s:cm_seg34_8}" />
                <Label id="cm_seg34_9" class="item-seg" text="{s:cm_seg34_9}" />
              </Panel>
              <Label id="cm_val34" class="item-value" text="{s:cm_val34}" />
            </Button>
            <Button id="cm_item35" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg35_0" class="item-seg" text="{s:cm_seg35_0}" />
                <Label id="cm_seg35_1" class="item-seg" text="{s:cm_seg35_1}" />
                <Label id="cm_seg35_2" class="item-seg" text="{s:cm_seg35_2}" />
                <Label id="cm_seg35_3" class="item-seg" text="{s:cm_seg35_3}" />
                <Label id="cm_seg35_4" class="item-seg" text="{s:cm_seg35_4}" />
                <Label id="cm_seg35_5" class="item-seg" text="{s:cm_seg35_5}" />
                <Label id="cm_seg35_6" class="item-seg" text="{s:cm_seg35_6}" />
                <Label id="cm_seg35_7" class="item-seg" text="{s:cm_seg35_7}" />
                <Label id="cm_seg35_8" class="item-seg" text="{s:cm_seg35_8}" />
                <Label id="cm_seg35_9" class="item-seg" text="{s:cm_seg35_9}" />
              </Panel>
              <Label id="cm_val35" class="item-value" text="{s:cm_val35}" />
            </Button>
            <Button id="cm_item36" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg36_0" class="item-seg" text="{s:cm_seg36_0}" />
                <Label id="cm_seg36_1" class="item-seg" text="{s:cm_seg36_1}" />
                <Label id="cm_seg36_2" class="item-seg" text="{s:cm_seg36_2}" />
                <Label id="cm_seg36_3" class="item-seg" text="{s:cm_seg36_3}" />
                <Label id="cm_seg36_4" class="item-seg" text="{s:cm_seg36_4}" />
                <Label id="cm_seg36_5" class="item-seg" text="{s:cm_seg36_5}" />
                <Label id="cm_seg36_6" class="item-seg" text="{s:cm_seg36_6}" />
                <Label id="cm_seg36_7" class="item-seg" text="{s:cm_seg36_7}" />
                <Label id="cm_seg36_8" class="item-seg" text="{s:cm_seg36_8}" />
                <Label id="cm_seg36_9" class="item-seg" text="{s:cm_seg36_9}" />
              </Panel>
              <Label id="cm_val36" class="item-value" text="{s:cm_val36}" />
            </Button>
            <Button id="cm_item37" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg37_0" class="item-seg" text="{s:cm_seg37_0}" />
                <Label id="cm_seg37_1" class="item-seg" text="{s:cm_seg37_1}" />
                <Label id="cm_seg37_2" class="item-seg" text="{s:cm_seg37_2}" />
                <Label id="cm_seg37_3" class="item-seg" text="{s:cm_seg37_3}" />
                <Label id="cm_seg37_4" class="item-seg" text="{s:cm_seg37_4}" />
                <Label id="cm_seg37_5" class="item-seg" text="{s:cm_seg37_5}" />
                <Label id="cm_seg37_6" class="item-seg" text="{s:cm_seg37_6}" />
                <Label id="cm_seg37_7" class="item-seg" text="{s:cm_seg37_7}" />
                <Label id="cm_seg37_8" class="item-seg" text="{s:cm_seg37_8}" />
                <Label id="cm_seg37_9" class="item-seg" text="{s:cm_seg37_9}" />
              </Panel>
              <Label id="cm_val37" class="item-value" text="{s:cm_val37}" />
            </Button>
            <Button id="cm_item38" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg38_0" class="item-seg" text="{s:cm_seg38_0}" />
                <Label id="cm_seg38_1" class="item-seg" text="{s:cm_seg38_1}" />
                <Label id="cm_seg38_2" class="item-seg" text="{s:cm_seg38_2}" />
                <Label id="cm_seg38_3" class="item-seg" text="{s:cm_seg38_3}" />
                <Label id="cm_seg38_4" class="item-seg" text="{s:cm_seg38_4}" />
                <Label id="cm_seg38_5" class="item-seg" text="{s:cm_seg38_5}" />
                <Label id="cm_seg38_6" class="item-seg" text="{s:cm_seg38_6}" />
                <Label id="cm_seg38_7" class="item-seg" text="{s:cm_seg38_7}" />
                <Label id="cm_seg38_8" class="item-seg" text="{s:cm_seg38_8}" />
                <Label id="cm_seg38_9" class="item-seg" text="{s:cm_seg38_9}" />
              </Panel>
              <Label id="cm_val38" class="item-value" text="{s:cm_val38}" />
            </Button>
            <Button id="cm_item39" class="item hidden">
              <Panel class="item-text">
                <Label id="cm_seg39_0" class="item-seg" text="{s:cm_seg39_0}" />
                <Label id="cm_seg39_1" class="item-seg" text="{s:cm_seg39_1}" />
                <Label id="cm_seg39_2" class="item-seg" text="{s:cm_seg39_2}" />
                <Label id="cm_seg39_3" class="item-seg" text="{s:cm_seg39_3}" />
                <Label id="cm_seg39_4" class="item-seg" text="{s:cm_seg39_4}" />
                <Label id="cm_seg39_5" class="item-seg" text="{s:cm_seg39_5}" />
                <Label id="cm_seg39_6" class="item-seg" text="{s:cm_seg39_6}" />
                <Label id="cm_seg39_7" class="item-seg" text="{s:cm_seg39_7}" />
                <Label id="cm_seg39_8" class="item-seg" text="{s:cm_seg39_8}" />
                <Label id="cm_seg39_9" class="item-seg" text="{s:cm_seg39_9}" />
              </Panel>
              <Label id="cm_val39" class="item-value" text="{s:cm_val39}" />
            </Button>
          </Panel>
        </Panel>
      </Panel>
    </Panel>
  </Panel>
</root>
