[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source
	branch = master
[submodule "hl2sdk-cs2"]
	path = hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "vendor/ClientCvarValue"]
	path = vendor/ClientCvarValue
	url = https://github.com/komashchenko/ClientCvarValue.git
[submodule "vendor/sql_mm"]
	path = vendor/sql_mm
	url = https://github.com/zer0k-z/sql_mm
[submodule "vendor/mm-cs2admin"]
	path = vendor/mm-cs2admin
	url = https://github.com/FemboyKZ/mm-cs2admin
